*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: burlywood;
  text-align: center;
}

.section1 {
  background-image: url('https://images.pexels.com/photos/139312/pexels-photo-139312.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

h1 {
  background-color: brown;
}

.section1 p {
  color: white;
}